body
{
    background-color: pink;
}
.container
{
    width: 800px;
}
.header-1
{
    background-color: antiquewhite;
}
.nav1
{
    background-color: azure;
}
.p1
{
    background-color: gold;
}
.head-1
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 50px;
    background-color: aqua;
}
.header-2
{
    background-color: yellow;
}

.head-2
{
    background-color: aliceblue;
}

.a1
{
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 25px;
}
.p2
{
    background-color: gold;
}

.head-3
{
    background-color: cadetblue;
}
.header-3
{
    background-color: blueviolet;
}
.a2
{
    color: antiquewhite;
    background-color: black;
}
.head-4
{
    background-color: aquamarine;
}
.header-4
{
    background-color: deeppink;
}
.head-5
{
    background-color: cornsilk;
}
.header-5
{
    background-color: red;
}
.f1
{
    background-color: orchid;
}